<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185572013929-mdbe83cs7ngbasii4f31uus7e1vso53r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185572013929-mdbe83cs7ngbasii4f31uus7e1vso53r</string>
	<key>API_KEY</key>
	<string>AIzaSyBSISX9wllIzrHygodOgwCsTiWuzL_FEpc</string>
	<key>GCM_SENDER_ID</key>
	<string>185572013929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indesigngraphics.hackster</string>
	<key>PROJECT_ID</key>
	<string>hackster-a8254</string>
	<key>STORAGE_BUCKET</key>
	<string>hackster-a8254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185572013929:ios:9f5b6d796f91c4c0c6aff8</string>
</dict>
</plist>